# Python cache
__pycache__/
*.pyc

# Large Data & Trajectories (Too big for GitHub)
trajectory/
datasets/

# Results (Optional: keep if you want to save plots, remove if too many files)
# results/

# System files
.DS_Store
.idea/
.vscode/

# Environment
miniconda3/
env/